
/* .inline-block{
  padding: 15px;
  border-radius: 8px;   
  font-family: montserrat;
  color: rgb(5, 73, 70);
  float: right;
}
.flexContainer{
  margin: 60px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}
.headerlink{ 
  background-color: aqua; 
  float: right;
} */

.nav{
  display: flex;
}
.left, .right{
  width: 100%;
  display:flex;
}

.left img{
  padding: 60px;
  padding-left: 30px;
  width: 40%;
}

.right a{
  text-decoration: none;
  font-family: montserrat;
  padding: 20px;
  margin-top: 40px;
  justify-content: flex-end;
  color: rgb(1, 28, 68);

}
.statement{
    display: block;
    justify-content: center;
    margin: auto;
  width: 600px;
  text-align: center;
}

.projectContainer{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: auto;
}

.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myphoto{
  display: flex;
  justify-content: left;
}