
/* .inline-block{
  padding: 15px;
  border-radius: 8px;   
  font-family: montserrat;
  color: rgb(5, 73, 70);
  float: right;
}
.flexContainer{
  margin: 60px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}
.headerlink{ 
  background-color: aqua; 
  float: right;
} */

.nav{
  display: flex;
}

.left, .right{
  width: 100%;
  display:flex;
  align-items: center;
}

.right{
  justify-content: flex-end;
  padding: 30px;
}

.left img{
  padding: 60px 60px 0px 30px;
  width: 40%;
}

.left a{
  display:flex;
align-items: center;
justify-content: flex-end;
text-decoration: none;
font-family: montserrat;
padding: 20px;
margin-top: 40px;
color: rgb(1, 28, 68);
}

.right a{
  text-decoration: none;
  font-family: montserrat;
  padding: 20px;
  margin-top: 40px;
  justify-content: flex-end;
  color: rgb(1, 28, 68);

}
.statement{
    display: block;
    justify-content: center;
    margin: auto;
  width: 600px;
  text-align: center;
}

.projectContainer{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    width: auto;
}

.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about{
display: block;
justify-content: center;
margin: 50px 200px 0px 60px;
}

.myphoto{
  display: flex;
  justify-content: left;
}

.leftFoot a{
  padding: 10px 60px 30px 0px;
  text-decoration: none;
  font-family: montserrat;
  color: rgb(1, 28, 68);
}

.rightFoot a{
  padding: 10px 0px 30px 60px;
  text-decoration: none;
  font-family: montserrat;
  color: rgb(1, 28, 68);
}

.footerContainer{
  display:flex;
  border-top: rgba(169, 169, 169, 0.774) 2px outset;
}

.leftFoot, .rightFoot{
  width: 100%;
  display:flex;
}

.leftFoot{
  justify-content: flex-end;
}